.books {
  color: #ffffff;
  padding-top: 395px;
  text-align: center;
  margin-bottom: 60px;

  @include md {
    text-align: left;
    padding-top: 104px;
    padding-bottom: 83px;
    background-image: url("#{$path}messengers.svg");
    background-repeat: no-repeat;
    background-position: 329px 324px;
  }

  @include lg {
    background-size: 550px auto;
    background-position: 750px 385px;
  }
}

.books__wrapper {
  @include md {
    width: 330px;
    margin: 0 0 0 auto;
  }

  @include lg {
    width: 550px;
  }
}

.books__title {
  font-weight: 500;
  line-height: 1.05;
  font-size: 8.55vw;
  margin-bottom: 14px;

  @include md {
    font-size: 30px;
    margin-bottom: 11px;
  }

  @include lg {
    font-size: 64px;
    line-height: 67px;
  }
}

.books__description {
  line-height: 5.7vw;
  margin-bottom: 5vw;
  font-size: 3.7vw;

  @include md {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 65px;
  }

  &_desktop {
    display: none;

    @include lg {
      display: block;
      font-size: 20px;
      line-height: 29px;
      margin-bottom: 80px;
    }
  }

  &_mobile {
    @include lg {
      display: none;
    }
  }
}

.books_download {
  display: none;

  @include md {
    display: inline;
    letter-spacing: -0.1px;
  }

  @include lg {
    font-size: 20px;
    line-height: 29px;
  }
}

.books__bold {
  font-weight: bold;
}

.books__download-link {
  color: #ffffff;
  text-decoration: underline;
}